<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">{{pageTitle}}</h1>
      <h2>Baza pytań do zakucia</h2>
    </div>
    <div class="header-start">
      <a mat-raised-button class="raised-button" routerLink="/">Do roboty</a>
    </div>
  </div>
</header>

<main class="homepage-promo">
  <div class="homepage-row">
    <div class="homepage-promo-img">
      <app-svg-viewer src="../assets/img/homepage/brain.svg" [scaleToContainer]="true"></app-svg-viewer>
    </div>
    <div class="homepage-promo-desc">
      <h2>Ucz się codziennie</h2>
      <p>Z nami prosto i skutecznie.</p>
    </div>
  </div>
  <div class="homepage-row homepage-reverse-row">
    <div class="homepage-promo-img">
      <app-svg-viewer src="../assets/img/homepage/needle.svg" [scaleToContainer]="true"></app-svg-viewer>
    </div>
    <div class="homepage-promo-desc">
      <h2>Rób zastrzyki</h2>
      <p>Bezboleśnie na każdych zajęciach klinicznych.</p>
    </div>
  </div>
  <div class="homepage-row">
    <div class="homepage-promo-img">
      <app-svg-viewer src="../assets/img/homepage/pill.svg" [scaleToContainer]="true"></app-svg-viewer>
    </div>
    <div class="homepage-promo-desc">
      <h2>Weź pigułkę</h2>
      <p>Żeby nie mieć bólu głowy.</p>
    </div>
  </div>
  <div class="homepage-row homepage-reverse-row">
    <div class="homepage-promo-img">
      <app-svg-viewer src="../assets/img/homepage/reproduction.svg" [scaleToContainer]="true"></app-svg-viewer>
    </div>
    <div class="homepage-promo-desc">
      <h2>Dbaj o zdrowie</h2>
      <p>Podczas sesji na pewno się przyda.</p>
    </div>
  </div>
  <div class="homepage-bottom-start">
    <a mat-raised-button class="raised-button" routerLink="/" color="accent">
      Do roboty
    </a>
  </div>
</main>

<app-footer></app-footer>
