<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">{{ headerTitle$ | async }}</h1>
      <h2>{{ headerSubtitle$ | async }}</h2>
    </div>
    <div class="header-start">
      <a mat-raised-button class="raised-button" routerLink="/">{{apiUrl}}</a>
    </div>
  </div>
</header>

<main class="homepage-promo">
  <div class="homepage-row">
    <div class="homepage-promo-img">
      <app-svg-viewer src="../assets/img/homepage/brain.svg" [scaleToContainer]="true"></app-svg-viewer>
    </div>
    <div class="homepage-promo-desc">
      <h2>SVG Viewer Example 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus lectus libero, id maximus erat
        facilisis vitae.
        Mauris convallis tortor molestie, condimentum elit quis, aliquet velit. Nulla laoreet auctor sagittis. Mauris
        ligula
        lectus, venenatis at fringilla vel, condimentum at ex. Class aptent taciti sociosqu ad litora torquent per
        conubia
        nostra, per inceptos himenaeos.</p>
    </div>
  </div>
  <div class="homepage-row homepage-reverse-row">
    <div class="homepage-promo-img">
      <app-svg-viewer src="../assets/img/homepage/needle.svg" [scaleToContainer]="true"></app-svg-viewer>
    </div>
    <div class="homepage-promo-desc">
      <h2>SVG Viewer Example 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus lectus libero, id maximus erat
        facilisis vitae.
        Mauris convallis tortor molestie, condimentum elit quis, aliquet velit. Nulla laoreet auctor sagittis. Mauris
        ligula
        lectus, venenatis at fringilla vel, condimentum at ex. Class aptent taciti sociosqu ad litora torquent per
        conubia
        nostra, per inceptos himenaeos.</p>
    </div>
  </div>
  <div class="homepage-bottom-start">
    <a mat-raised-button class="raised-button" routerLink="/" color="accent">
      Do roboty
    </a>
  </div>
</main>