@import '../node_modules/@angular/material/theming';

@import './app/core/layout/navbar/navbar-theme';
@import './app/core/layout/footer/footer-theme';
@import './app/features/home/home-page-theme';
@import './app/features/admin/admin-page-theme';
@import './app/shared/svg-viewer/svg-viewer-theme';

@mixin material-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $next-theme: mat-palette($mat-red);

  .app-background {
    background: mat-color($background, background);
    overflow: hidden;
  }

  .primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  @include navbar-theme($theme);
  @include footer-theme($theme);

  @include home-page-theme($theme);
  @include admin-page-theme($theme);

  @include svg-viewer-theme($theme);

  * {
    scrollbar-width: thin;
    scrollbar-color: mat-color($primary);
  }

  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: mat-color($primary);
    border-radius: 20px;
    border: 3px solid mat-color($primary);
  }
}

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
