<div fxFlexFill fxLayout="column">
  <div fxFlex="none">
    <app-page-header></app-page-header>
  </div>

  <div fxFlex>
    <mat-tab-group>
      <mat-tab label="Subjects">
        <ng-template matTabContent>
          <app-subject></app-subject>
        </ng-template>
      </mat-tab>
      <mat-tab label="Users">
        <ng-template matTabContent>
          <app-subject></app-subject>
        </ng-template>
      </mat-tab>
      <mat-tab label="Sth else">
        <ng-template matTabContent>
          <app-subject></app-subject>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>