body {
    background-image: url(https://studybeedevstorage.blob.core.windows.net/b2c-templates/background.png);
}
@font-face {
    font-family: 'SegoeUI';
    src: url(https://studybeedevstorage.blob.core.windows.net/b2c-templates/segoeui.WOFF);
    font-weight: normal;
}
@font-face {
    font-family: 'SegoeUI';
    src: url(https://studybeedevstorage.blob.core.windows.net/b2c-templates/segoeui_bold.WOFF);
    font-weight: bold;
}
#FacebookExchange {
  background-image: url(https://studybeedevstorage.blob.core.windows.net/b2c-templates/colored-facebook.svg);
}
#FacebookExchange:hover {
  background-image: url(https://studybeedevstorage.blob.core.windows.net/b2c-templates/facebook.svg);
}
#GoogleExchange {
  background-image: url(https://studybeedevstorage.blob.core.windows.net/b2c-templates/colored-google.svg);
}
#GoogleExchange:hover {
  background-image: url(https://studybeedevstorage.blob.core.windows.net/b2c-templates/google.svg);
}
#MicrosoftAccountExchange {
  background-image: url(https://studybeedevstorage.blob.core.windows.net/b2c-templates/colored-microsoft.svg);
}
#MicrosoftAccountExchange:hover {
  background-image: url(https://studybeedevstorage.blob.core.windows.net/b2c-templates/microsoft.svg);
}
.back:before {
    content: url(https://studybeedevstorage.blob.core.windows.net/b2c-templates/left-arrow.svg);
}

#SignInWithLogonNameExchange, #SignUpWithLogonEmailExchange, #SignUpWithLogonNameExchange {
    background-image: url(https://studybeedevstorage.blob.core.windows.net/b2c-templates/colored-local.svg);
}
#SignInWithLogonNameExchange:hover, #SignUpWithLogonEmailExchange:hover, #SignUpWithLogonNameExchange:hover {
    background-image: url(https://studybeedevstorage.blob.core.windows.net/b2c-templates/local.svg);
}