@import '../styles/constants';

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

app-root > app-home-page {
  overflow-y: auto;
}

@media (max-width: $extra-small-breakpoint-width) {
  app-root {
    top: $extra-small-header-height;
  }

  app-root > app-home-page {
    overflow-y: visible;
  }
}

app-root > app-sidenav {
  flex: 1;
}
