@import '../../node_modules/@angular/material/theming';

$extra-small-breakpoint-width: 720px;
$small-breakpoint-width: 959px;

$header-height: 56px;
$extra-small-header-height: 92px;

$content-padding-side: 70px;
$content-padding-side-xs: 15px;
